:root {
    --main-color: rgba(166, 168, 169, 0.111);
    --header-color: rgba(255, 255, 251, 0.949);
    --text-color: rgb(37, 26, 5);
    --main-font: 'IBM Plex Sans Arabic', sans-serif;
    --logo-font: 'Bodoni Moda', serif;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body,
html {
    background-color: var(--primary-color);
}

/*------------------------------------------*/
/*------------------ HEADER ---------------*/
.header {
    background-color: var(--header-color);
    position: fixed;
    width: 100%;
    height: auto;
    display: flex;
    place-items: center;
    z-index: 1;
}


.name_container {
    cursor: pointer;
    font-family: 'Bodoni Moda', serif;
    font-size: 16px;
    color: var(--text-color);
    margin: 20px auto 20px 40px;
}

.name_container a {
    text-decoration: none;
    color: var(--text-color);
}

.name_container h1 {
    margin: 0;
    text-shadow: 2px 2px 0px rgba(255, 153, 204, 0.586), -3px -2px 0px rgba(100, 165, 183, 0.506);
}

.name_container h1:nth-child(1) {
    font-weight: 900;
    line-height: 32px;
}

.name_container h1:nth-child(2) {
    font-weight: 900;
    margin-right: 67px;
    line-height: 38px;
}

.name_container h1:nth-child(3) {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1.38px;
    line-height: 15px;
}


/*--- List Menu Container ---*/
.menu {
    margin-right: 28px;
    font-family: var(--main-font);
}

.menu ul{
    font-size: 18px;
    font-weight: 300;
    list-style-type: none;
    overflow: hidden;
}

.menu .drop-menu {
    position: absolute;
    z-index: 5;
    background: rgb(255, 255, 251);
    background: linear-gradient(0deg, var(--header-color) 70%, rgba(255, 255, 251, 0) 100%);
    display: none;
    padding: 14px 60px 12px 18px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 18px;
    font-weight: 200;
    margin: -5px auto auto 1px;
}

.menu .drop-menu a, .mobile-drop-menu a{
    display: block;
    width: auto;
    text-align: left;
    padding: 1px 0 0 0;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--main-font);
}

.menu li {
    display: inline;
    transition: .3s;
}

.menu a {
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#portfolio:hover + div{
    display: block !important;
}

.menu ul:hover> :not(:hover),
.menu ul:focus> :not(:focus),
.menu ul:active> :not(:active),
.menu div:hover> :not(:hover),
.menu div:focus> :not(:focus),
.menu div:active> :not(:active),
.menu__box div:hover> :not(:hover),
.menu__box div:focus> :not(:focus),
.menu__box div:active> :not(:active) {
    opacity: .32;
}

/*------ Hamburger Menu ------*/
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    left: 0 !important;
}

.menu__btn {
    display: none;
    position: fixed;
    top: 60px;
    left: 55px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: var(--text-color);
    box-shadow: 0.9px 1px 0px rgba(255, 153, 204, 0.586), -0.9px -1px 0px rgba(100, 165, 183, 0.506);
    fill-opacity: 10px;
    transition-duration: .25s;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 70px;
    padding-top: 100px;
    list-style: none;
    background-color: rgba(255, 255, 251, 0.797);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}

.menu__box a{
    z-index: 2;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition-duration: .25s;
}

.mobile-drop-menu{
    position: relative;
    display: none;
    font-size: 18px;
    font-weight: 200;
    margin: -10px auto 7px 35px;
}

.hamburger-menu ul:hover> :not(:hover),
.hamburger-menu ul:focus> :not(:focus),
.hamburger-menu ul:active> :not(:active) {
    opacity: .4;
}

/*------------------------------------------*/
/*------------------ FOOTER ---------------*/
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: grid;
    place-content: center;
    box-shadow: 0px -10px 40px rgba(0, 0, 0, 0.176);
    background-color: var(--main-color);
}
  
.footer h5{
    font: 200 14px var(--main-font);
}



/*----------------------------------------------------------*/
/*------------------ MEDIA QUERYS - 1090px ----------------*/
/*--------------------------------------------------------*/
@media screen and (max-width: 1090px) {

    /*--------------------------------------------*/
    /*--------------- MAIN CONTAINER ------------*/
  
    .card_photo {
      width: 430px;
      height: 580px;
    }
}
    
  
/*----------------------------------------------------------*/
/*------------- MEDIA QUERYS - mobiles' layout-------------*/
/*--------------------------------------------------------*/
@media screen and (max-width: 760px) {
  
    /*------------------------------------------*/
    /*------------------ HEADER ---------------*/
    .name_container {
      cursor: pointer;
      font-family: 'Bodoni Moda', serif;
      font-size: 10px;
      color: var(--text-color);
      margin: 20px auto 20px;
    }
  
    .name_container h1 {
      font-size: 24px;
      margin: 0;
      text-shadow: 2px 2px 0px rgba(255, 153, 204, 0.586), -3px -2px 0px rgba(100, 165, 183, 0.506);
    }
  
    .name_container a h1:nth-child(1) {
      font-weight: 900;
      line-height: 18px;
    }
  
    .name_container a h1:nth-child(2) {
      font-weight: 900;
      margin-right: 67px;
      line-height: 30px;
    }
  
    .name_container a h1:nth-child(3) {
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1.38px;
      line-height: 13px;
    }
  
    .menu__btn>span::before {
      content: '';
      top: -6px;
    }
  
    .menu__btn>span::after {
      content: '';
      top: 4px;
    }
  
    .menu__btn {
      display: block;
      position: fixed;
      top: 50px;
      left: 45px;
      width: 22px;
      cursor: pointer;
      z-index: 1;
    }
  
    .menu {
      display: none;
    }
}