/*--------------------------------------------*/
/*--------------- MAIN CONTAINER ------------*/
.main_container {
  width: auto;
  height: auto;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: transparent;
  gap: 5vw 0;
  margin: 150px auto auto auto;
  padding-bottom: 150px;
}


/*---------------------------------------------------*/
/*--------------------- Cards ----------------------*/
.card_photo {
  cursor: pointer;
  font-family: var(--main-font);
  margin: auto 10px 5px;
  position: relative;
  width: 28vw;
  height: 40vw;
  background-color: transparent;
  perspective: 850px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.animating_front {
  animation: oscillate1 1.8s cubic-bezier(1, -0.25, 0.26, 1) forwards;
}

.animating_back {
  animation: oscillate2 1s cubic-bezier(1, 0.1, 0.3, 1) forwards;
}

@keyframes oscillate1 {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

@keyframes oscillate2 {
  from {
    transform: rotateY(-180deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

.card-front:hover .overlay {
  opacity: 1;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 35%, rgba(192, 198, 199, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: perspective(500px) rotateY(180deg);
}

.card-back p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 23px;
  text-align: justify;
  padding: 0 50px 0;
  transform: perspective(300px) translateZ(10px);
}


.card-back p span {
  font-size: 44px;
  line-height: 0px;
}

.card-back p span:nth-child(1) {
  margin: auto 5px auto auto;
}

.card-back p span:nth-child(2) {
  margin: auto auto auto 10px;
}

.card_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* -------- Overlay Effect -------- */
.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
  position: absolute;
  top: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.9));
  opacity: 0;
  transition: 1.3s ease-out;
  backface-visibility: hidden;
}

.overlay_faded {
  animation: shade 1.2s ease-in-out forwards;
}

@keyframes shade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }

}

.overlay section {
  color: var(--text-color);
  margin: 5px;
  width: auto;
  height: auto;
}

.overlay h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 18px;
}

.overlay span {
  font-size: 18px;
  font-weight: 200;
}

/* Photos Features */
.overlay section:nth-last-child(2) {
  position: relative;
  height: auto;
  width: 50%;
  display: grid;
  grid-template: auto/auto auto;
  align-items: center;
  justify-content: center;
  gap: 2px 15px;
  border-top: solid 0.8px;
  padding: 18px 0 0 20px;
  margin-top: 15px;
  opacity: .7;
}

.overlay section:nth-last-child(2) div {
  position: relative;
  width: 20px;
  height: 20px;
}

.overlay section:nth-last-child(2) h3 {
  font-size: 14px;
  font-weight: 200;
}

/* Flip Me button */
.overlay button,
.card-back button {
  position: relative;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  font-style: unset;
  height: auto;
  width: auto;
  background-color: transparent;
  border: none;
  display: grid;
  grid-template: auto/auto auto;
  align-items: center;
  justify-content: center;
  opacity: .9;
  gap: 0 7px;
  perspective: 200px;
  cursor: pointer;
}

.overlay button:active,
.overlay button:focus,
.card-back button:active,
.overlay button:focus {
  background-color: inherit;
  text-decoration: none;
  font-style: none;
}

.overlay section:nth-last-child(1),
.card-back section:nth-last-child(1) {
  position: absolute;
  bottom: 20px;
}

.overlay section:nth-last-child(1) div,
.card-back section:nth-last-child(1) div {
  position: relative;
  width: 23px;
  height: 23px;
  transform: rotateX(35deg);
}

.overlay section:nth-last-child(1) h3,
.card-back section:nth-last-child(1) h3 {
  position: relative;
  font-size: 18px;
  font-weight: 200;
  transform: rotateX(35deg);
}


/*----------------------------------------------------------*/
/*------------------ MEDIA QUERYS - 1090px ----------------*/
/*--------------------------------------------------------*/
@media screen and (max-width: 1090px) {

  /*--------------------------------------------*/
  /*--------------- MAIN CONTAINER ------------*/
  .card_photo {
    width: 430px;
    height: 580px;
  }

}


/*----------------------------------------------------------*/
/*----------------- MEDIA QUERYS - 990px ------------------*/
/*--------------------------------------------------------*/
@media screen and (max-width: 990px) {

  /*--------------------------------------------*/
  /*--------------- MAIN CONTAINER ------------*/
  .card_photo {
    width: 380px;
    height: 530px;
  }

}


/*----------------------------------------------------------*/
/*----------------- MEDIA QUERYS - 880px ------------------*/
/*--------------------------------------------------------*/

@media screen and (max-width: 880px) {

  /*--------------------------------------------*/
  /*--------------- MAIN CONTAINER ------------*/
  .card_photo {
    width: 330px;
    height: 480px;
  }

}


/*----------------------------------------------------------*/
/*------------- MEDIA QUERYS - mobiles' layout-------------*/
/*--------------------------------------------------------*/
@media screen and (max-width: 760px) {

  /*--------------------------------------------*/
  /*--------------- MAIN CONTAINER ------------*/
  .main_container {
    width: 100%;
    height: auto;
    padding: 0px 35px 130px;
  }

  .card_photo {
    margin: auto;
    padding: 0;
    position: relative;
    width: 100%;
    height: 125vw;
  }

}