*{
    box-sizing: border-box;
    scroll-behavior: smooth;
} 


body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(166, 168, 169, 0.111);
}


html{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/*------------------------------------------*/
/*------------------ HEADER ---------------*/
.header{
    overflow: hidden;
    background-color:rgba(255, 255, 251, 0.797);
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    place-items: center;
    z-index: 1;
}


.name_container{
    font-family: 'Bodoni Moda', serif;
    font-size: 16px;
    margin: 20px auto 20px 40px;
    cursor: pointer;
}

.name_container a{
  text-decoration: none;
  color: rgb(37, 26, 5);
}

.name_container h1{
    margin: 0;
    text-shadow: 2px 2px 0px rgba(255, 153, 204, 0.586), -3px -2px 0px rgba(100, 165, 183, 0.506);
}


/*--- Menu Container ---*/
.menu{
    margin-right: 28px;
}

.menu ul{
  font-family: 'IBM Plex Sans Arabic', sans-serif;
  font-size: 18px;
  font-weight: 300;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}

.menu li{
    display: inline;
    transition: .3s;
}
  
.menu li a {
    color:rgb(37, 26, 5); 
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.menu ul:hover > :not(:hover),
.menu ul:focus > :not(:focus),
.menu ul:active > :not(:active){
    opacity: .4;
}

/*------ Hamburger Menu ------*/
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    display: none;
    position: fixed;
    top: 60px;
    left: 55px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: rgb(37, 26, 5);
    box-shadow: 0.9px 1px 0px rgba(255, 153, 204, 0.586),-0.9px -1px 0px rgba(100, 165, 183, 0.506);
    fill-opacity: 10px;
    transition-duration: .25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 70px;
    padding-top: 100px;
    list-style: none;
    background-color:rgba(255, 255, 251, 0.797);
    backdrop-filter: blur(10px);  
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(37, 26, 5);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition-duration: .25s;
  }

.hamburger-menu ul:hover > :not(:hover),
.hamburger-menu ul:focus > :not(:focus),
.hamburger-menu ul:active > :not(:active){
    opacity: .4;
}


/*--------------------------------------------*/
/*--------------- MAIN CONTAINER ------------*/
.main_container{
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    background-color: transparent;
    row-gap: 5vw;
    column-gap: auto;
    margin: 150px auto auto auto;
    padding-bottom: 50px;
}


/*---------------------------------------------------*/
/*----------------- Features photos-----------------*/
.card_photo{
    margin: auto 5px auto;
    position: relative;
    width: 400px;
    height: 590px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card_photo img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.overlay{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.897));
    opacity: 0;
    transition: 1.2s ease-out;
}

.overlay section{
    margin: 5px;
    width: auto;
    height: auto;
}

.overlay h3{
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: 18px;
}

.overlay h3 span{
    font-size: 18px;
    font-weight: 200;
}


.card_photo:hover .overlay,
.card_photo:focus .overlay,
.card_photo:active .overlay{
    opacity: 1;
}


/*----------------------------------------------------------*/
/*------------- MEDIA QUERYS - mobiles' layout-------------*/
/*--------------------------------------------------------*/
@media screen and (max-width: 700px){
    .name_container{
        font-size: 16px;
        color: rgb(37, 26, 5);
        margin: 20px 35% 20px;
    }

    .menu{
        display: none;
    }

    .menu__btn {
        display: block;
    }
}