*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  } 
  
  
body, html{
  background-color: rgba(166, 168, 169, 0.111);
}

/*--------------------------------------------*/
/*------------------ HEADER -----------------*/
.header{
  overflow: hidden;
  background-color:rgba(255, 255, 251, 0.95);
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  place-items: center;
  z-index: 1;
  }

.name_container{
  cursor: pointer;
  font-family: 'Bodoni Moda', serif;
  color: rgb(37, 26, 5);
  margin: 20px auto 20px 40px;
}

.name_container a{
  text-decoration: none;
  color: rgb(37, 26, 5);
}

.name_container h1{
  font-size: 32px;
  margin: 0;
  text-shadow: 2px 2px 0px rgba(255, 153, 204, 0.586), -3px -2px 0px rgba(100, 165, 183, 0.506);
}

.name_container h1:nth-child(1){
  font-weight: 900; 
  line-height: 25px;
}

.name_container h1:nth-child(2){
  font-weight: 900;
  margin-right: 67px;
  line-height: 38px;
}

.name_container h1:nth-child(3){
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1.38px;
  line-height: 15px;
}

/*--- Menu Container ---*/
.menu{
    margin-right: 28px;
}

.menu ul{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 18px;
    font-weight: 300;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.menu li{
    display: inline;
    transition: .3s;
}
  
.menu li a {
    color:rgb(37, 26, 5); 
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.menu ul:hover > :not(:hover),
.menu ul:focus > :not(:focus),
.menu ul:active > :not(:active){
    opacity: .32;
}

/*------ Hamburger Menu ------*/
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  
  .menu__btn {
    display: none;
    position: fixed;
    top: 60px;
    left: 55px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    border-radius: 30px;
    background-color: rgb(37, 26, 5);
    box-shadow: 0.9px 1px 0px rgba(255, 153, 204, 0.586),-0.9px -1px 0px rgba(100, 165, 183, 0.506);
    fill-opacity: 10px;
    transition-duration: .25s;
  }
  
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 70px;
    padding-top: 100px;
    list-style: none;
    background-color:rgba(255, 255, 251, 0.797);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);  
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(37, 26, 5);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition-duration: .25s;
  }
  
  .hamburger-menu ul:hover > :not(:hover),
  .hamburger-menu ul:focus > :not(:focus),
  .hamburger-menu ul:active > :not(:active){
    opacity: .4;
  }



/*--------------------------------------------*/
/*--------------- MAIN CONTAINER ------------*/
.main_container{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(166, 168, 169, 0.111);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contacts{
    width: 800px;
    height: 240px;
    border-top: 1px solid rgb(37, 26, 5);
    border-bottom: 1px solid rgb(37, 26, 5);
    margin-top: 50px;
    text-align: center;
}

.contacts h1{
    cursor: pointer;
    margin: 25px auto 10px;
    font-size: 20px;
    font-weight: 300;
}

.contacts p{
    cursor: pointer;
    font-size: 17px;
    font-weight: 100;
    margin: 4px;
    opacity: .7;
}

.contacts section{
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.contacts section img{
    margin: 0 5px 0;
    height: 25px;
    width: auto;
}

.aboutme{
    max-width: 950px;
    height: auto;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
}

.img-description{
    width: 85%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template: 100% / 200px auto;
    gap: 20px;
    border-top: 1px solid rgb(37, 26, 5);
    border-bottom: 1px solid rgb(37, 26, 5);
    margin: auto;
    padding: 25px 0px 25px 0px;
    overflow: hidden;
}

.img-description img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.description-container{
    position: relative;
    text-align: justify;
    overflow: scroll;
}

.aboutme h1{
    cursor: pointer;
    margin: 20px auto 10px;
    font-size: 20px;
    font-weight: 300;
}

.aboutme p{
    font-size: 18px;
    font-weight: 100;
    line-height: 17px;
    margin: 4px;
    opacity: .7;
}





/*----------------------------------------------------------*/
/*------------- MEDIA QUERYS - mobiles' layout-------------*/
/*--------------------------------------------------------*/
@media screen and (max-width: 750px){
  .name_container{
      cursor: pointer;
      font-family: 'Bodoni Moda', serif;
      font-size: 10px;
      color: rgb(37, 26, 5);
      margin: 20px auto 20px;
  }

  .name_container h1{
      font-size: 24px;
      margin: 0;
      text-shadow: 2px 2px 0px rgba(255, 153, 204, 0.586), -3px -2px 0px rgba(100, 165, 183, 0.506);
  }
    
  .name_container a h1:nth-child(1) {
      font-weight: 900;
      line-height: 18px;
  }
    
  .name_container a h1:nth-child(2){
      font-weight: 900;
      margin-right: 67px;
      line-height: 30px;
  }
    
  .name_container a h1:nth-child(3){
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 1.38px;
      line-height: 13px;
  }

  .menu__btn > span::before {
      content: '';
      top: -6px;
  }

  .menu__btn > span::after {
      content: '';
      top: 4px;
  }

  .menu__btn {
      display: block;
      position: fixed;
      top: 50px;
      left: 45px;
      width: 22px;
      cursor: pointer;
      z-index: 1;
  }

  .menu{
        display: none;
  }


  /*--------------------------------------------*/
  /*--------------- MAIN CONTAINER ------------*/
  .main_container{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    width: 100%;
    height: auto;
    position: absolute;
    background-color: rgba(166, 168, 169, 0.111);
    display: flex;
    align-items: center;
    row-gap: 10px 0px;
    overflow: hidden;
  }

  .aboutme{
      width: 100%;
      height: auto;
      margin: 20% 15px auto 15px;
  }
  
  .aboutme .img-description{
      max-width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 18px 0px;
  }
  
  .img-description img{
      width: 100%;
      aspect-ratio: 9/16;
      object-fit: cover;
  }
  
  
  .aboutme .description-container{
      max-width: 100%;
  }
}