*{
    box-sizing: border-box;
    scroll-behavior: smooth;
} 

body{
    padding: 0;
    margin: 0;
}

/*------------------------------------------*/
/*------------------ HEADER ---------------*/
.header{
    overflow: hidden;
    background-color:rgba(255, 255, 251, 0.797);
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    place-items: center;
    z-index: 1;
}

.name_container{
    cursor: pointer;
    font-family: 'Bodoni Moda', serif;
    font-size: 16px;
    color: rgb(37, 26, 5);
    margin: 20px auto 20px 40px;
}

.name_container h1{
    margin: 0;
    text-shadow: 10px 5px 0px rgba(255, 153, 204, 0.586),-10px -4px 0px rgba(100, 165, 183, 0.506);
}

/*--- Menu Container ---*/
.menu{
    margin-right: 28px;
}

.menu ul{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: 18px;
    font-weight: 300;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.menu li{
    display: inline;
    transition: .3s;
}
  
.menu li a {
    color:rgb(37, 26, 5); 
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.menu ul:hover > :not(:hover),
.menu ul:focus > :not(:focus),
.menu ul:active > :not(:active){
    opacity: .4;
}


/*--------------------------------------------*/
/*--------------- MAIN CONTAINER ------------*/
.main_container{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(166, 168, 169, 0.111);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts{
    width: 800px;
    height: 240px;
    border-top: 1px solid rgb(37, 26, 5);
    border-bottom: 1px solid rgb(37, 26, 5);
    margin-top: 50px;
    text-align: center;
}

.contacts h1{
    cursor: pointer;
    margin: 25px auto 10px;
    font-size: 20px;
    font-weight: 300;
}

.contacts p{
    cursor: pointer;
    font-size: 17px;
    font-weight: 100;
    margin: 4px;
    opacity: .7;
}

.contacts section{
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.contacts section img{
    margin: 0 5px 0;
    height: 25px;
    width: auto;

}





/*----------------------------------------------------------*/
/*------------- MEDIA QUERYS - mobiles' layout-------------*/
/*--------------------------------------------------------*/
@media screen and (max-width: 700px){
    .name_container{
        font-size: 16px;
        color: rgb(37, 26, 5);
        margin: 20px auto 20px auto;
    }

    .menu{
        display: none;
    }
}